@model IEnumerable<EquiposPeruanos.Models.Assignment>

<h2>Lista de Asignaciones</h2>

<a asp-action="Create" class="btn btn-success mb-3">Nueva Asignación</a>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Jugador</th>
            <th>Equipo</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var asignacion in Model)
    {
        <tr>
            <td>@asignacion.Player?.Nombre</td>
            <td>@asignacion.Team?.Nombre</td>
        </tr>
    }
    </tbody>
</table>
